body
{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #F4AC45 ;
	background-color: #694A38;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: #F4AC45;
	font-weight: bold;
}

h1, h2, h3
{
	color: #F4AC45;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color:ivory;
}

a:hover
{
	text-decoration: overline underline;
}


figure
{
	text-align: center;
  
}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: center;
}

thead , tfoot
{
	background-color: yellow;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}
.brown{
	background-color: #694A38;
	font-weight: bolder;
	vertical-align: top;

}

tbody tr:nth-child(odd) 
{
	background-color: rgb(234, 240, 214);
}
.dark{
	background-color: #4d4646;
	color: white;

}
.bold{
	font-weight: bolder;
	font-family: Calibri;
	color: black;
	font-size: xx-large;
}

#calc{
	vertical-align: middle;
	text-align: center;
}

#polygons{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



