._5ymq button{max-width:177px;overflow:hidden;text-overflow:ellipsis}._6tmj{display:inline}._6tmk{margin-top:5px}
div.egoProfileTemplate{line-height:13px}div.ego_unit_container div.clickable{cursor:hand;cursor:pointer}div.egoProfileTemplateSubtitle{color:#7f7f7f}
._3bzr{padding-top:12px;position:relative}._3bzs{border-radius:50%;height:36px;margin-right:12px;width:36px}._3bzw{line-height:34px;margin-left:20px}

#bootloader_qHVn7{height:42px;}.bootloader_qHVn7{display:block!important;}